<div class="row container p-4 m-auto">
    <div class="col-12 m-3">
        <nz-table [nzFrontPagination]="false" >
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody >
                <tr >
                  <td>Haseeb </td>
                  <td>Opo</td>
                  <td>Numj</td>
                </tr>
            </tbody>
          </nz-table>
    </div>
</div>