<nz-drawer
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Employee-Crud"
  (nzOnClose)="closeDrawer()"
  [nzWidth]="300">
  <ng-container *nzDrawerContent>
  <ul class="list-group " style="color: #000000;" >
    <li class="list-group-item">
      <a routerLink="/Employee/Dashboard" class="nav-link" style="color: blue;" (click)="closeDrawer()">Setup</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/Employee/ContactUs" class="nav-link" (click)="closeDrawer()">Contact-Us</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/Employee/Add-Employee" class="nav-link" (click)="closeDrawer()">Add-Employee</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/Employee/Record" class="nav-link" (click)="closeDrawer()">Record</a>
    </li>
  </ul>
</ng-container>
</nz-drawer>
