<div nz-row class="p-1 m-0">
  <div nz-col [nzSpan]="24">
    <!-- First row of cards -->
    <div nz-row class="mb-2" nz-gutter="4">
      <div nz-col [nzSpan]="6" [nzXs]="24" [nzSm]="12" [nzMd]="6" class="px-3">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Application-User" class="m-3">
          <ul class="list-group list-group-flush px-2 py-1">
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-plus px-1 mx-1"></i>New Application User</li>
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-address-card px-1 mx-1"></i>User-Detail</li>
            <li class="list-group-item py-3 px-3"><i class="fa-solid fa-book px-1 mx-1"></i> User-Form</li>
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-location-arrow px-1 mx-1"></i>User-Department</li>
          </ul>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6" [nzXs]="24" [nzSm]="12" [nzMd]="6" class="px-3">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Admin Panel" class="m-3">
          <ul class="list-group list-group-flush px-2 py-1">
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-desktop px-1 mx-1"></i>Admin-Panel</li>
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-circle-plus px-1 mx-1"></i>Add New Admin</li>
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-circle-info px-1 mx-1"></i>Admin Deatils</li>
            <li class="list-group-item py-3 px-3 "><i class="fa-solid fa-file-shield px-1 mx-1"></i>Admin-Rights</li>
          </ul>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6" [nzXs]="24" [nzSm]="12" [nzMd]="6" class="px-3">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="User Panel" class="m-3">
          <ul class="list-group list-group-flush px-2 py-1">
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-user px-1 mx-1 "></i>User-Panel</li>
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-user-plus px-1 mx-1"></i>Add New User</li>
            <li class="list-group-item py-3 px-3"><i class="fa-solid fa-circle-info px-1 mx-1" ></i>User Deatils</li>
            <li class="list-group-item py-3 px-3 "><i class="fa-solid fa-lock px-1 mx-1"></i>User-Rights</li>
          </ul>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6" [nzXs]="24" [nzSm]="12" [nzMd]="6" class="px-5 ">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Forms Setup" class="m-3">
          <ul class="list-group list-group-flush px-2 py-1">
            <li class="list-group-item py-3 px-3"><i class="fa-solid fa-square-plus px-1 mx-1"></i>New Form</li>
            <li class="list-group-item py-3 px-3"><i class="fa-solid fa-book-bookmark px-1 mx-1"></i>Forms-Setup</li>
            <li class="list-group-item py-3 px-3"> <i class="fa-solid fa-file px-1 mx-1"></i>Form-And Report</li>
            <li class="list-group-item py-3 px-3"><i class="fa-solid fa-business-time  px-1 mx-1"></i>Schedule-Forms</li>
          </ul>
        </nz-card>
      </div>
    </div>
    <!-- Second row of cards -->
    <div nz-row class="py-2">
      <div nz-col [nzSpan]="6" [nzXs]="24" [nzSm]="12" [nzMd]="6" class="px-3">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Purchase-Order" class="m-3">
          <ul class="list-group list-group-flush px-2 py-1">
            <li class="list-group-item py-3 px-3"><i class="fas fa-box px-1 mx-1"></i> New Purchase-Order</li>
            <li class="list-group-item py-3 px-3"><i class="fas fa-receipt px-1 mx-1"></i> Order-Booking</li>
            <li class="list-group-item py-3 px-3"><i class="fas fa-user px-1 mx-1"></i> Application User</li>
            <li class="list-group-item py-3 px-3"><i class="fas fa-calendar-check px-1 mx-1"></i> Schedule Order</li>
          </ul>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6" [nzXs]="24" [nzSm]="12" [nzMd]="6" class="px-3">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Financial" class="m-3">
          <ul class="list-group list-group-flush px-2 py-1">
            <li class="list-group-item py-3 px-3"><i class="fas fa-building px-1 mx-1"></i> Company Setting</li>
            <li class="list-group-item py-3 px-3"><i class="fas fa-user-tie px-1 mx-1"></i> Employee</li>
            <li class="list-group-item py-3 px-3"><i class="fas fa-user px-1 mx-1"></i> Application User</li>
            <li class="list-group-item py-3 px-3"><i class="fas fa-calendar px-1 mx-1"></i> Schedule Setup</li>
          </ul>
        </nz-card>
      </div>
    </div>
  </div>
</div>
